.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.logo-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.logout-button {
  background-color: transparent;
  border-color: #ffffff;
  border-width: 0.5px;
  padding: 10px;
  width: 140px;
  color: #ffffff;
  font-size: 20px;
}
